@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.blog_page{
    display: grid;
    user-select:text;
}
.blog_page h2{
    margin: 10px 0px;
    font-family: 'Play', sans-serif;
    grid-area : heading;
}.title_image{
    width: 80%;
    min-width: 220px;
    max-width: 500px;
    aspect-ratio: 16 / 9;
    justify-self: center;
    margin:20px 0;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 11px 4px #8b8b8b;
    grid-area : image;
}
@media (max-width : 768px){
    .blog_page{
        grid-template-columns: 100%;
        grid-template-rows: minmax(70px,auto) auto auto auto auto  auto;
        grid-template-areas: "heading" 
                             " image "
                             "miniprofile"
                             "  blog " 
                             "review"
                             "comments";
    }.blog_preview{
        width: 100%;
        grid-area: blog;
    }.comments{
        grid-template-rows: 50px 300px auto;
        grid-template-columns: 100%;
        grid-template-areas: "heading" "comment_input" "comment_list";
    }
}
@media (min-width : 768px){
    .blog_page{
        grid-template-columns: 70% 30%;
        grid-template-rows: 70px auto auto auto auto;
        grid-template-areas: "heading heading" 
                             " image    image"
                             "miniprofile miniprofile"
                             "  blog   review"
                             "comments comments";
    }
    .blog_preview{
        min-width: 500px;
        width: 700px;
        grid-area: blog;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    .review{
        position: sticky;
        top:0px;
    }.comments{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 500px;
        grid-template-areas: "heading heading"
                             "comment_input comment_list";
    }
}

#like_label , #dislike_label ,#view_label{
    background-position: left;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding-left: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    height: 30px;
    max-width: 100%;
    transition: all 0.2s linear;
}#like_label:hover , #dislike_label:hover ,#view_label:hover{
    transform: scaleZ(1.2);
}
.review{
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-rows: repeat(3 ,1fr);
    grid-area: review;
    align-items: center;
    justify-items: left;
    justify-self: center;
    margin: 50px 0;
    border: 5px inset gold;
    border-radius: 0px 69px 0px 69px / 7px 71px 0px 63px;
    padding: 10px;
    background-image: linear-gradient(45deg, #00d5bb, #aa22ff);
    color: white;
    box-shadow: inset 0px 0px 5px 5px #4f4f4f87;
}.review #like_label , .review #dislike_label {
    filter: sepia(1.5) ;
}.review #like:checked ~ #like_label, .review #dislike:checked ~ #dislike_label{
    filter: none;
}div.miniprofile{
    grid-area: miniprofile;
    margin-bottom: 20px;
}.comments{
    display: grid;
    grid-area:comments;
}.comment_list{
    display: flex;
    flex-direction: column;
    grid-area: comment_list;
    overflow-y: auto;
    padding: 30px 10px;
    margin: 40px 2px 0;
}#comment_input{
    margin: 0px;
    max-width: 100%;
    min-width: 200px;
    width: 75%;
    font-size: 18px;
    justify-self: center;
    height: 150px;
    align-self: center;
    border-radius: 10px;
    padding: 10px 55px 10px 10px;
    grid-area: input;
    border: 1px solid #004cff;
    box-shadow: 3px 3px 3px #004cff99, inset 2px 2px 2px #383838;
    filter:none;resize: vertical;
}#comment_input:disabled ,#send_comment:disabled{
    filter:saturate(0);
    resize: none;
}
#send_comment{
    z-index: 2;
    width: 45px;
    height: 45px;
    justify-self: center;
    align-self: center;
    grid-area: submit;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px grey;
    border: 4px inset #71c3ff;
    background-image: url(../images/insertComponents.svg);
    background-position: left;
    background-size: 40px 40px;
    filter:none;
}.cover{
    grid-area: comment_input;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto 55px;
    grid-template-areas: "input submit";
}.comments h5{
    grid-area: heading;
    width: fit-content;
    justify-self: center;
    border: 3.5px solid;
    border-image: linear-gradient(to right,#ffa902, #71ff00);
    border-image-slice: 1;
    align-self: center;
    padding: 5px;
    padding-left: 30px;
    background: left/30px  30px  url(../images/comments.svg) no-repeat;
}div.comment{
    margin: 15px 5px 15px;
    border-top: 2px dashed #ad7d2b;
    display: grid;
    grid-template-rows: 80px auto 20px;
    grid-template-columns: 80px auto;
    grid-template-areas: "user_image  username" "c_text c_text" "date date";
    align-items: center;
    justify-items: start;
}div.comment #user_name{
    grid-area : username;
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    /* padding: 0px 15px; */
    margin: 0 10px; 
}div.comment .comment_text{
    grid-area : c_text;
    font-size: 20px;
    padding: 0 30px 0 80px;
    margin: 15px 0;
    max-width: calc(100% - 80px);

} .datetime{
    grid-area : date;
    font-size: 15px;
    color : rgb(131, 131, 131);
    justify-self: right;
}