@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.blog_info{
    position: absolute;
    display:flex;
    font-weight: 400;
    color: rgb(0, 107, 247);
    width: 100%;
    height: 100%;
    overflow:hidden;
    top:0;
    place-items: center;
    justify-content: center;

}

.blog_info::before , .blog_info::after{
    content: '';
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(to bottom  , rgba(255, 230, 0, 0.719) ,rgba(0, 255, 255, 0.658) );
    border-radius: 100%;
    z-index: -1;
    animation-duration: 5s;
    animation-name: ball_gradient;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    top:-125px;
    left: -125px;
}
.blog_info::after{
    top:calc(-125px - 500px);
    right:-125px;
    animation-direction: alternate;
    z-index: 0;
    animation-name: ball_gradient_next;
}
@keyframes ball_gradient{
    0% {
        transform: translate(0vw,0vh) rotateZ(0deg);
        filter: hue-rotate(0deg);
        /* background-image: linear-gradient(to bottom  , rgba(255, 230, 0, 0.719) ,rgba(0, 255, 255, 0.658) ); */
    }
    50% {
        transform: translate(100vw  ,50vh) rotateZ(90deg);
        /* background-image: linear-gradient(to bottom    ,rgba(0, 255, 255, 0.658), rgba(255, 230, 0, 0.719)); */
        filter: hue-rotate(180deg);
        
    }
    100% {
        transform: translate(0vw,100vh) rotateZ(0deg);
        /* background-image: linear-gradient(to bottom  , rgba(255, 230, 0, 0.719) ,rgba(0, 255, 255, 0.658) ); */
        filter: hue-rotate(360deg);
        
    }
}
@keyframes ball_gradient_next{
    0% {
        transform: translate(100vw,0vh) rotateZ(0deg);
        filter: hue-rotate(0deg);
        /* background-image: linear-gradient(to bottom  , rgba(255, 230, 0, 0.719) ,rgba(0, 255, 255, 0.658) ); */
    }
    50% {
        transform: translate(0vw  ,50vh) rotateZ(90deg);
        /* background-image: linear-gradient(to bottom    ,rgba(0, 255, 255, 0.658), rgba(255, 230, 0, 0.719)); */
        filter: hue-rotate(180deg);
        
    }
    100% {
        transform: translate(100vw,100vh) rotateZ(0deg);
        /* background-image: linear-gradient(to bottom  , rgba(255, 230, 0, 0.719) ,rgba(0, 255, 255, 0.658) ); */
        filter: hue-rotate(360deg);
        
    }
}

input[type="file"]{
    display: none;
}
div.blog_info_child{
    display:grid;
    position: inherit;
    overflow: scroll;
}
div.blog_info_child::-webkit-scrollbar{
    display: none;
}

@media only screen and (min-width : 768px){
    div.blog_info_child{
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 1fr 1fr 1fr 1fr 100px;
        grid-template-areas: "heading heading"
                             "label_tilte image"
                             "blog_title image"
                             "label_discription image"
                             "blog_discription image"
                             "submit submit";
        max-height: 100%;
        min-width: 600px;
    }h1{
        font-size: 2em;
    }
}
@media only screen and (max-width: 768px) {
    div.blog_info_child{
        grid-template-columns: 100%;
        grid-template-rows: 150px 200px 1fr 1fr 1fr 1fr 100px;
        grid-template-areas: "heading" "image" "label_tilte" "blog_title" "label_discription" "blog_discription" "submit";
        overflow: scroll;
        max-height: 100%;
        max-width: 100%;
    }h1{
        font-size: 40px;
    }
}
h1{
    font-family: 'Play', sans-serif;
    grid-area: heading;
    align-self:center;
    margin:5px;
}
#label_title {
    grid-area: label_tilte;
    align-self:center;
    margin:5px;
}
#blog_title{
    grid-area:blog_title;
    align-self:center;
    margin:5px;
    height: 20px;
}
#label_discription{
    grid-area:label_discription;
    align-self:center;
    margin:5px;
}
#blog_discription{
    grid-area:blog_discription;
    align-self:center;
    margin:5px;
    resize:vertical;
    min-height: 50px;
}
#label_image{
    margin:5px;
    place-self: center;
    aspect-ratio: 16 / 9;
    height : 150px;
    place-content: center;
    background-image: url(../images/upload_image_background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px 150px ;

}
#submit{
    grid-area: submit;
    align-self:center;
    width:100px;
    height: 40px;
    border-radius: 20px;
    border-width: 4px;
    border-style: inset;
    place-self: center;
    border-color: #0334dd;
    font-size: 20px;
    font-weight: 500;
}#blog_title , #blog_discription,.editing_pane #text_input{
    font-size: 15px;
    border-radius: 7px;
    border-color:#0334dd;
    border-width: 1px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: monospace;
    transition-property: all;
    transition-duration: 0.5s;
    background-color: rgba(201, 201, 201, 0.219);
}
#blog_title:focus , #blog_discription:focus ,.editing_pane #text_input:focus{
    box-shadow: 0 0px 5px rgb(0, 110, 255) ,inset 2px 2px 5px #898989a3;
}
#submit:hover{
    box-shadow: 0 0 5px rgb(0, 110, 255)  ;
}
#submit:active{
    box-shadow: inset 2px 2px 5px rgba(44, 44, 44, 0.671);
    font-size: 19px;
}
#image_span{
    display: block;
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
}
.editor{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    overflow:clip;
}
div.tabs{
    display: flex;
    flex-direction: row;
    flex: auto;
    background-color:rgb(218 234 251 / 13%);
    color:#8e8e8ecc;
    font-weight: 500;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin-top: 30px;
    justify-content: space-around;
    place-items: center;
    box-shadow: inset 7px 6px 11px 2px #7196da57, inset -3px 4px 5px 2px #7196da57;
    font-size: 20px;
}
input[type="radio"]:checked + #label_editor,input[type="radio"]:checked + #label_preview{
    color:rgb(0, 107, 247);
    background-color: #ffffff8f;
    box-shadow: inset 3px 4px 0px 1px #b5b5b5;
    text-shadow: 3px 2px 4px #00e7ff38;

}

.editor >div:not(.tabs){
    min-height: 100%;
    height: calc(100% - 80px);
    display: grid;
    overflow: auto;
}
div.tabs label{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    padding-left:20px;
    padding-right:20px;
    margin-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}.label_ico{
    width: 30px;
    margin-right: 5px;
    filter: grayscale(1) contrast(0.5);
}
input[type="radio"]:checked + label > .label_ico{
    filter:none;
}
.editing_pane{
    width: 100%;
    height: calc(100% - 80px);;
    display: grid;
    background-color:rgb(218 234 251 / 13%);
    font-weight: 500;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    justify-content: space-around;
    place-items: center;
    box-shadow: inset 7px -9px 11px 2px #7196da57, inset -3px -7px 5px 2px #7196da57;
    margin-bottom: 15px;
    position: absolute;
}
.editing_pane #text_input{
    margin-left:5px;
    margin-right:5px;
    width: 80%;
    resize: none;
    grid-area: textarea;
    height: 100px;
    border-style: solid;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 20px 1fr;
    grid-template-areas:  "tag insert"
                          "maintext insert";
    padding: 0;
}
.components{
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #0d19ff;
    min-height: 200px;
    min-width: 180px;
    background-color:#cfbf2b;
    max-height: 300px;
    overflow: auto;
    backdrop-filter: blur(10px) saturate(1.5);
}

@media only screen and (min-width : 768px){
    .editing_pane{
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr 200px;
        grid-template-areas: "editing   components"
                             "editing   textarea";
    }
    .editing{
        width: 100%;
        height: 100%;
        overflow: auto;
        max-width: 600px;
        grid-area: editing;
    }
    .addComponents{
        display: none;
    }
    .components{
        grid-area: components;
        display: flex;
        transform-origin: center;
    }.showpreview .blog_preview{
        width:700px;
        display: block;
    }
}
@media only screen and (max-width : 768px){
    .editing_pane{
        grid-template-rows: 1fr 120px;
        grid-template-columns: 100%;
        grid-template-areas: "editing" "textarea";
    }
    .editing{
        width: 100%;
        height: 100%;
        overflow: auto;
        grid-area: editing;
    }
    .editing_pane #text_input{
        height: 70px;
        max-height: 100px;
    }
    .addComponents{
        display: block;
        position: absolute;
        bottom: 130px;
        width: 40px;
        height: 40px;
        right: 0;
        margin-bottom: 10px;
        margin-right: 8vw;
        border-radius: 100%;
        border-color: #0093ff;
        border-width: 3px;
        background-image: url(../images/addComponents.svg) ;
        background-size: cover;
    }.components{
        display: none;
        position: fixed;
        pointer-events: all;
        transform: translateX(calc(50% - 10px )) translateY(calc(50% - 10px ));

    }.showpreview .blog_preview{
        width:calc(100vw - 50px);
        display: block;
    }
}.showpreview .blog_preview{
    word-break: break-word;
    white-space: normal;
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding: 15px;
    user-select: text;
}
div.showpreview{
    display: flex;
    background-color: rgb(218 234 251 / 13%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 7px -9px 11px 2px #7196da57, inset -3px -7px 5px 2px #7196da57;
    margin-bottom: 15px;
    width: 100%;
    height: calc(100% - 80px);
    overflow: auto;
    justify-content: center;
}
.upload{
    height: 30px;
    width: 70px;
    font-size: 15px;
    color: white;
    border-radius: 4px;
    background-color: #0288d1;
    position: absolute;
    right: 0;
    margin: 20px;
    border-color: white;
    z-index: 1;
}
.comp_tag{
    font-size: 10px;
    background-color   : #0288d1 ;
    padding: 5px;
    border-radius: 5px;
    border-top-left-radius:0 ;
    border-top-right-radius:0 ;
    width: fit-content;
    display: inline;
    color: white;
    grid-area: tag;
    justify-self: center;
}
.components .heading{
    height: 30px;
    margin: 0;
    border-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
    width: 100%;
    border-color: #0d19ff;
}
.insert_comp{
        display: inline;
        width: 40px;
        height: 40px;
        right: 0;
        margin-right: 5px;
        border-radius: 10px;
        border-color: #0093ff;
        border-width: 3px;
        background-image: url(../images/insertComponents.svg) ;
        background-size: cover;
        grid-area: insert;
        align-self: center;
        place-self: center;
}
.maintext{
    grid-area: maintext;
    overflow: auto;
    padding-left: 2px;
    display: grid;
    grid-template-columns: auto;
}

.maintext label{
    place-self:center;
    align-self:center;
    border-color:#04bfff;
    color:#04bfff;
    border-style:solid;
    border-width:1px;
    padding:3px;
    border-radius:5px; 
}
.maintext input:valid ~label {
    background-color: #607d8b;
}

.bullet_list::before , .bullet_list>div::before{
    content: "◉";
    display: contents;
}
.complist{
    font-size: 20px;
    padding-left: 10px;
    border-width: 0;
    border-top-width: 1px;
    border-style:solid;
    border-color: grey;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 3px;
    padding-bottom: 3px;
}
input[type="radio"]:checked + label.complist{
    color: #0288d1;
}.container_part{
    display: grid;
    margin: 10px;
    width: auto;
    border: 2px solid #0288d1 ;
    border-radius: 15px;
    padding:0 20px 0;
    grid-template-rows: 60px auto;
    grid-template-columns: calc(100% - 50px) 50px;
    grid-template-areas: "h1 img" "data data";
}.container_data{
    display: grid;
    align-self: center;
    justify-self: center;
    grid-area: data;
    margin-bottom: 10px;
    width: calc(100% - 10px);
    padding:5px;
    grid-template-columns: 100%;

}.container_data h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:2px 0;
    padding-left: 50px;
    background-image: url(../images/heading.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}.container_data p{
    margin : 5px 0;
    text-indent: 50px;
    width: 100%;
    font-size: 22px;
    overflow-wrap: break-word;
    hyphens: auto;
}.container_data ul li{
    list-style-type: "🔰";
    font-family: monospace;
    font-size: 25px;
    margin-left: 40px;
}.container_part h5{
    margin-top: 10px;
    margin-bottom: 10px;
    grid-area: h1;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
}.container_part img{
    object-fit: contain;
}.container_part p,.container_part li{
    line-height: inherit;
    word-break: break-word;
    text-overflow: unset;
    white-space: normal;
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 5px;
    max-width: 100%;
}
