@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300;1,500&display=swap');

*{
    scroll-behavior: smooth;
    outline : none;
}
body{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-user-select:none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    margin:0;padding:0;

}
::-webkit-scrollbar{
    width: 2px;
    box-sizing: border-box;
    scrollbar-gutter: stable;
    height: 5px;

}
::-webkit-scrollbar-track{
    background-color: #3cb7ff00;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb{
    background-image: radial-gradient(#0334dd ,rgb(36, 149, 255));
    border-radius: 0;

}
::selection{
    background-color: rgba(70, 70, 70, 0.267);
    color:rgb(255, 217, 0);
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.appbody{
    font-family: 'Poppins', sans-serif;
    font-size:1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    position: inherit;
    overflow-y: auto;
    bottom : 0;
    top:0;
    padding-top: 35px;
    margin-top:20px;
    margin-left:10px;
    margin-right: 10px;
    width: calc(100% - 20px );
    filter: saturate(1.5) contrast(1.5);
    grid-area: appbody;
}
.appcontent::-webkit-scrollbar{
    width : 0 ;
     
}
.appcontent{
    display:grid;
    width : 100%;
    height: calc(100% - 20px);
    overflow-y: auto;
    position:absolute;
    top:20px;
    left:0;
    grid-template-rows: 100% 100px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "appbody"
    "footer"
    ;
    overflow-x: clip;
}
@media only screen and (max-width: 575px){
    .appcontent{
        grid-template-rows: 100% 200px;
        grid-template-areas: 
        "appbody"
        "footer"
        ;
    }
}

a:visited ,a ,a:hover{
    color:black;
    text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus{
    -webkit-background-clip: text;
    -webkit-animation-name: autofill;
    -webkit-animation-delay: 0ms;
    -webkit-animation-duration: 2s;
}
